.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffc9a8;
  color: rgb(0, 0, 0);
  font-size: 15px;
  position: fixed; /* Закрепляем навигационную панель */
  top: 0; /* Прижимаем к верхней части экрана */
  left: 0; /* Прижимаем к левой части экрана */
  width: 100%; /* Растягиваем на всю ширину экрана */
  z-index: 1000; /* Устанавливаем z-index, чтобы навигационная панель была поверх других элементов */
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  vertical-align: middle;
}