.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffc9a8;
  color: rgb(0, 0, 0);
  font-size: 15px;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  vertical-align: middle;
}