.header {
  display: flex;
  justify-content: center;
  vertical-align: top;
  padding: 10px 20px;
  color: white;
  background-color: #f7a776;
  padding: 10px 0;
  font-size: 15px;
  position: fixed; /* Закрепляем хедер */
  top: 50px; /* Располагаем хедер ниже навбара */
  left: 0; /* Прижимаем к левой части экрана */
  width: 100%; /* Растягиваем на всю ширину экрана */
  z-index: 999; /* Устанавливаем z-index, чтобы хедер был поверх других элементов, но под навбаром */
}

.tabs {
  display: flex;
  margin: 10px 0 0 0;
  justify-content: space-between;
  align-items: center; /* Добавлено для центрирования по вертикали */
  width: 400px;
  height: 70px;
}

.tab {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  border-radius: 5px;
}
